body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

header {}

main {}

footer {}

.layer {
  width: 900px;
  margin: auto;
  display: none;
}

.error {
  background: #fcf8e3;
  border: solid 1px #faebcc;
  border-radius: .5em;
  color: #8a6d3b;
  display: none;
  padding: 0 .75em;
}

#login_wrapper {
  margin: auto;
}

#login_captcha_wrapper {
  display: none;
}

#login_button_wrapper {
  text-align: right;
}

#captcha_wrapper {
  margin: auto;
  text-align: center;
}

#captcha_code {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
